<.flash_group flash={@flash} />

<div class="h-screen w-screen flex flex-col justify-center items-center">
  <h1>
    <p>Hello, World!</p>
  </h1>
  <div class="w-full h-full justify-center items-center gap-2">
    <ul>
      <li :for={route <- @routes}>
        <p>{route["route_name"]} - {route["route_number"]}</p>
      </li>
    </ul>
  </div>
</div>
