<header class="h-auto w-full"></header>
<main class="p-2 w-full h-full">
  <.flash_group flash={@flash} />
  <div class="w-full h-full flex flex-row justify-center items-center gap-2">
    {@inner_content}
  </div>
</main>
